.header__logo {
    width: 68.84616088867188px;
    height: 40px;
}

@media screen and (min-width: 768px) {
    .header__logo {
        width: 103px;
        height: 60px;
    }
}

@media screen and (min-width: 1292px) {
    .header__logo {
        width: 137.69px;
        height: 80px;
    }
}