.specs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .specs-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .specs-list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1292px) {
  .specs-list {
    gap: 32px;
  }
}



@media screen and (min-width: 1292px) {
  .specs-list_item-size_bg {
    justify-content: normal;
    gap: 110px;
  }
}

.specs-list__item {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 32px;
}

@media screen and (min-width: 1024px) {
  .specs-list__item {
    width: 100%;
    gap: 32px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .specs-list__item_big {
    width: 100%;
    max-width: 380px;
  }
}

.specs-list__item_gap_big {
  gap: 18px
}

.specs-list__item:last-child {
  margin-bottom: 0;
}

.specs-list__item_margin-bottom_small {
  margin-bottom: 30px;
}

@media screen and (min-width: 1024px) {
  .specs-list__item_margin-bottom_small {
      margin-bottom: 0px;
    }
}


.specs-list__item-icon {
  width: 32px;
  height: 32px;
}

@media screen and (min-width: 1024px) {
  .specs-list__item-icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1292px) {
  .specs-list__item-icon {
    width: 48px;
    height: 48px;
  }
}

.specs-list__item-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

@media screen and (min-width: 1024px) {
  .specs-list__item-text-container {
    gap: 12px;
  }
}