.specs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.specs-list__item {
  display: flex;
  flex-direction: row;
  gap: 17px;
}

.specs-list__item-icon {
  width: 32px;
  height: 32px;
}

.specs-list__item-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.specs-list__title {
  font-family: Graphik LCG;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.specs-list__subtitle {
  font-family: Graphik LCG;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
}
