.slider {
    height: 595px;
    position: relative;
}

.slider::before {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    height: 215px;
    content: "";
    position: absolute;
    left: 0;
    top: -25px;
    right: 0;
    pointer-events: none;
    z-index: 2;
}

.swiper-container {
    height: 560px;
    width: 100%;
}

.slider__image-wrap {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.slider__image {
    height: 101%;
    margin-left: -387px;
    margin-top: -4px;
}

@media screen and (min-width: 425px) {
    .slider__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        margin: 0;
    }

}

.slider__text-container {
    position: relative;
    align-items: flex-start;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 28px;
    padding-bottom: 32px;
    box-sizing: border-box;
    width: calc(100% - 32px);
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    z-index: 1;
}

@media screen and (min-width: 768px) {
    .slider__text-container {
        width: calc(100% - 64px);
    }
}

.slider__image-wrap::before {
    width: 1361px;
    height: 1015px;
    opacity: .9;
    top: 333px;
    left: -776px;
    mix-blend-mode: Multiply;
    background: #17212a;
    filter: blur(200px);
    pointer-events: none;
    position: absolute;
    content: "";
    transform: translateZ(0);
}

.slider__image-wrap::after {
    width: 599px;
    height: 1100px;
    opacity: .4;
    top: 110px;
    left: -323px;
    mix-blend-mode: Multiply;
    background: #17212A;
    filter: blur(200px);
    pointer-events: none;
    position: absolute;
    content: "";
    transform: translateZ(0);
}

.slider__button {
    font-family: Graphik LCG;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    color: #FFFFFF;
    padding: 16px 40px;
    border-radius: 100px;
    background-color: #38AB57;
    display: flex;
    gap: 10px;
    width: 197px;
    height: 48px;
    box-sizing: border-box;
}

.slider .swiper-pagination {
    bottom: 0;
}

@media screen and (min-width: 768px) {
    .slider .swiper-pagination {
        visibility: hidden;
    }
}

.slider .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: #38AB57;
}

.slider__buttons-container {
    visibility: hidden;
    position: absolute;
    bottom: 32px;
    left: 75%;
    width: 152px;
    height: 64px;
}


@media screen and (min-width: 768px) {
    .slider__buttons-container {
        visibility: visible;
    }
}

.slider__buttons-wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider__buttons-wrap::after {
    width: 1030px;
    height: 680px;
    opacity: .9;
    mix-blend-mode: Multiply;
    background: #17212a;
    filter: blur(200px);
    pointer-events: none;
    position: absolute;
    content: "";
    transform: translateZ(0);
    z-index: 1;
}

.swiper-container .swiper-button-prev,
.swiper-container .swiper-button-next {
    width: 64px;
    height: 64px;
    border: 1px solid #FFFFFF3D;
    border-radius: 60px;
    background-image: url(../../img/icons/chevron.svg);
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: center;
    box-sizing: border-box;
    margin: 0 !important;
    top: 0 !important;
}

.swiper-container .swiper-button-prev {
    transform: rotate(180deg);
}