.page {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  position: relative;
}

.page_scroll_lock {
  height: 100vh;
  overflow: hidden;
}