.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.about__title-and-video-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 30px;
}

.about__text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
}

.about__title {
  font-family: Graphik LCG;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.about__subtitle {
  font-family: Graphik LCG;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.about__text {
  font-family: Graphik LCG;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.about__video {
  width: 288px;
  height: 162;
  border-radius: 8px;
}