.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.about__title-and-video-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
}

.about__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.about__list-item {
  display: flex;
  gap: 16px;
}

.about__list-item-icon {
  width: 32px;
  height: 32px;
}

.title {
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.subtitle {
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
}

.about__list-item-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
