.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 72px;
}

.about__title-and-video-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 30px;
}

.about__text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
}

.about__title {
  font-family: Graphik LCG;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.about__subtitle {
  font-family: Graphik LCG;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.about__text {
  font-family: Graphik LCG;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.about__video-wrap {
  width: 288px;
  height: 162px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.about__video {
  width: 100%;
  object-fit: contain;
  scale: 1.3;
    margin-left: -29px;
    margin-top: -4px;
}

.about__video-play-button {
  border: none;
  border-radius: 50%;
  background-color: #38AB57;
  width: 40px;
  aspect-ratio: 1/1;
  cursor: pointer;
  position: absolute;
  padding: 0;
  top: 38%;
  left: 43%;
}

.about__video-play-button-icon {
  width: 7.5px;
  height: 10px;
}