.navigation-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 10px 16px 17px;
    box-sizing: border-box;
    visibility: hidden;
    position: absolute;
    height: 100vh;
    background: white;
    top: 0;
    left: 0;
    overflow: auto;
}

@media screen and (min-width: 768px) {
    .navigation-menu {
        padding: 20px 32px 34px;
    }
}

.navigation-menu_visible {
    visibility: visible;
    z-index: 100;
}













