.technology__title {
    font-family: Graphik LCG;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

@media screen and (min-width: 1024px) {
    .technology__title {
        font-size: 34px;
        line-height: 44px;
    }
}

@media screen and (min-width: 1440px) {
    .technology__title {
        font-size: 44px;
        line-height: 54px;
    }
}