.specs-list__item {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 32px;
}

@media screen and (min-width: 1024px) {
    .specs-list__item {
        width: 100%;
        gap: 32px;
        margin-bottom: 0px;
    }
}

.specs-list__item:last-child {
    margin-bottom: 0;
}