.technology__specs-list {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .technology__specs-list {
        gap: 32px;
    }
}

@media screen and (min-width: 1292px) {
    .technology__specs-list {
        flex-direction: row;
        justify-content: space-between;
        gap: 8px;
    }
}

@media screen and (min-width: 1440px) {
    .technology__specs-list {
        flex-direction: row;
        justify-content: space-between;
        gap: 32px;
    }
}