.technology__card-image {
    object-fit: cover;
    width: 100%;
    scale: 1.2;
    margin-top: 11px;
    margin-left: -4px;
}

@media screen and (min-width: 425px) {
    .technology__card-image {
        scale: 1;
        margin: 0;
    }
}

@media screen and (min-width: 960px) {
    .technology__card-image {
        min-height: 100%;
    }
}