.about__specs-list-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .about__specs-list-container {
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) {
    .about__specs-list-container {
        flex-direction: column;
        gap: 106px;
    }
}