.about__video-play-button {
    border: none;
    border-radius: 50%;
    background-color: #38AB57;
    width: 40px;
    aspect-ratio: 1/1;
    cursor: pointer;
    position: absolute;
    padding: 0;
    top: 38%;
    left: 43%;
}

@media screen and (min-width: 1024px) {
    .about__video-play-button {
        width: 64px;
        left: 46%;
        top: 42%;
    }
}