.products {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 64px;
}

.products__text-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.products__title {
  font-family: Graphik LCG;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.products__subtitle {
  font-family: Graphik LCG;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.products__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.products__list-item {
  width: 288px;
  box-shadow: 0px 0px 12px 0px #0000001f;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.products__list-item-image-wrap {
  height: 160px;
  overflow: hidden;
  width: 100%;
  background: #f8f3f3;
}

.products__list-item-image {
  cursor: pointer;
  width: 100%;
  max-height: 160px;
  object-fit: contain;
  object-position: top;
}

.products__list-text-container {
  padding: 20px 20px 20px;
}

.products__list-title {
  font-family: Graphik LCG;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}

.products__list-text {
  font-family: Graphik LCG;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 4px;
}

.products__list-text:last-child {
  margin-bottom: 0;
}


.products__list .products__list-item:first-child img {
  scale: 1.16;
  margin-top: 21px;
}

.products__list .products__list-item:nth-child(2) img {
  scale: 0.9;
  margin-top: 1px;
}

.products__list .products__list-item:nth-child(3) img, .products__list .products__list-item:nth-child(4) img {
  margin-top: -11px;
}

.products__list .products__list-item:last-child img {
  scale: 1.16;
  margin-top: 30px;
}