.products {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 64px auto 0;
  width: calc(100% - 32px);
  max-width: 1440px;
}

@media screen and (min-width: 768px) {
  .products {
    width: calc(100% - 64px);
  }
}

.products__text-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 704px;
}

.products__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 1024px) {
  .products__list {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-template-rows: repeat(4, 350px);
    align-items: stretch;
    justify-content: space-between;
    gap: 24px;
  }
}

@media screen and (min-width: 1292px) {
  .products__list {

    grid-template-columns: repeat(4, 23%);
    grid-template-rows: repeat(2, 400px);
    gap: 32px;
    justify-content: none;
  }
}

.products__list-item {
  width: 288px;
  box-shadow: 0px 0px 12px 0px #0000001f;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .products__list-item {
    position: relative;
    width: 100%;
    background: #f8f3f3;
    min-height: 250px;
  }

  .products__list-item:hover .products__list-button {
    visibility: visible;
  }
}

@media screen and (min-width: 1024px) {
  .products__list-item {
    grid-column: span 4;
  }

  .products__list-item:nth-child(3),
  .products__list-item:nth-child(4) {
    grid-column: span 2;
  }
}

@media screen and (min-width: 1292px) {
  .products__list-item {
    grid-column: span 2;
  }

  .products__list-item:nth-child(3),
  .products__list-item:nth-child(4) {
    grid-column: span 1;
  }
}

.products__list-item-image-wrap {
  height: 160px;
  overflow: hidden;
  width: 100%;
  background: #f8f3f3;
}

@media screen and (min-width: 768px) {
  .products__list-item-image-wrap {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    background: none;
    height: 100%;
    display: flex;
  }
}

.products__list-item-image {
  width: 100%;
  max-height: 160px;
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  .products__list-item-image {
    max-height: none;
  }
}

.products__list-text-container {
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .products__list-text-container {
    padding: 32px;
    width: 60%;
    max-width: 340px;
  }
}

@media screen and (min-width: 1292px) {
  .products__list-text-container {}
}

.products__list-item-text:last-child {
  margin-bottom: 0;
}

.products__list-item:first-child .products__list-item-image {
  scale: 1.16;
  margin-top: 21px;
}

.products__list-item:nth-child(2) .products__list-item-image {
  scale: 0.9;
  margin-top: 1px;
}

.products__list-item:nth-child(3) .products__list-item-image,
.products__list-item:nth-child(4) .products__list-item-image {
  margin-top: -11px;
}

.products__list-item:last-child .products__list-item-image {
  scale: 1.16;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .products__list .products__list-item:last-child .products__list-item-image {
    margin-top: 60px;
    margin-left: 60px;
    scale: 1.46;
  }
}

.products__list-button {
  visibility: hidden;
  width: 56px;
  height: 56px;
  border: none;
  padding: 0;
  background-color: #38AB57;
  border-radius: 100px;
  position: absolute;
  left: 32px;
  bottom: 16px;
}

.products__list-button-icon {
  width: 24px;
  height: 24px;
}