.feedback-form__input_text {
    font-family: Graphik LCG;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

@media screen and (min-width: 1024px) {
    .feedback-form__input_text {
        font-size: 20px;
    }
}