.technology {
  margin: 84px auto 0;
  width: calc(100% - 32px);
  max-width: 1440px;
}

@media screen and (min-width: 768px) {
  .technology {
    width: calc(100% - 64px);
  }
}

@media screen and (min-width: 1024px) {
  .technology {
    margin-top: 107px;
  }
}

@media screen and (min-width: 1292px) {
  .technology {
    margin-top: 130px;
  }
}
