.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1440px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  box-sizing: border-box;
  z-index: 20;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 20px 32px;
    height: 80px;
  }
}

.header__logo {
  width: 68.84616088867188px;
  height: 40px;
}

.header-menu-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 24px;
  width: 24px;
}

.header__menu-icon {
  width: 24px;
  aspect-ratio: 1/1;
}